a(href='mailto:DCaazy@gmail.com') DCaazy@gmail.com
a(href='https://github.com/Caaz') Github
a(href='http://www.facebook.com/Caazy') Facebook
a(href='http://www.twitter.com/DCaazy') Twitter
a(href='https://www.instagram.com/dcaazy') Instagram
a(href='https://caaz.tk') Tumblr
a(href='http://chat.mibbit.com/?server=rizon.mibbit.org&channel=%23TheFusion') #TheFusion@irc.rizon.net
