$color:
// Accent
#FFF
rgba(0,0,0,.7)
// Header Background
#FFF
// Header Foreground
#000;
$header-size:50px;
$button-size:25px;
* { font-family:sans-serif; margin:0px; padding:0px; }
body {
  min-height:100vh;
  color:#FFF;
  background-image: url('/res/artsy.jpg');
  background-size: cover;
  background-attachment: fixed;
  > header {
    background-color:nth($color,3);
    color:nth($color,4);
    position:fixed;
    height:$header-size;
    padding:0 10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    > h1 {
      font-size:15px;
      font-weight:100;
    }
    > nav {
      display:flex;
      flex-grow:1;
      align-items:flex-end;
      justify-content: space-around;
      width:100vw;
      > a {
        font-size:15px;
        font-weight:100;
        text-decoration:none;
        color:nth($color,4);
        // text-shadow: -1px -1px 0 nth($color,3), 1px -1px 0 nth($color,3), -1px 1px 0 nth($color,3), 1px 1px 0 nth($color,3);
      }
    }
  }
}
main {
  background-color:nth($color,2);
  display:flex;
  flex-direction:column;
  align-items:center;
  flex:1;
  section {
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:calc(100vw - 40px);
    padding:0 20px;
    min-width:600px;
    padding-top:$header-size;
    min-height:calc(100vh - #{$header-size});
    h1 {
      align-self:center;
      font-weight:100;
      font-size:20px;
    }
  }
}
.spread  {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width:100%;
  list-style: none;
  margin:0px;
  padding:0px;
  li {
    margin:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
  }
}
.dim { opacity:.3; }
a:focus { outline:transparent!important; }
