@import "math";
@mixin diamond($maxWidth, $background) {
  $size:sqrt(pow($maxWidth,2) / 2);
  $offset: $maxWidth - 100;
  $remainder:((-$size + $maxWidth - $offset) / 2)+vw;
  $size:$size + vw;
  content:'';
  z-index:-1;
  width:$size;
  height:$size;
  display:block;
  top:$remainder;
  left:$remainder;
  overflow:hidden;
  position:absolute;
  transform: rotate(45deg);
  &::before {
    content:'';
    display:block;
    position:absolute;
    width:$maxWidth + vw;
    height:$maxWidth + vw;
    transform: rotate(-45deg);
    top:calc(-#{$remainder} - #{($offset / 2)+vw});
    left:calc(-#{$remainder} - #{($offset / 2)+vw});
    background-image:$background;
    background-attachment:fixed;
    background-size:cover;
  }
}
