.dim {
  display: none;
  opacity: .5; }

#name:hover .dim {
  display: inline; }

* {
  font-family: sans-serif; }

h1 {
  font-weight: 100;
  font-variant: small-caps; }

body {
  display: flex; }

#menu {
  display: flex;
  flex-direction: column;
  transition: margin-left 1s;
  width: 100px; }
  #menu h1 {
    width: 100px;
    text-align: center;
    font-size: 1.1em; }
  #menu img {
    padding-top: 10px;
    align-self: center;
    width: 80px;
    height: 80px;
    border-radius: 50%; }
  #menu nav {
    display: flex;
    flex-direction: column;
    width: 100px;
    padding-top: 10px; }
    #menu nav a {
      position: relative;
      color: #b400ff; }
      #menu nav a.selected span:first-child {
        width: 100%; }
      #menu nav a.selected span:last-child {
        color: #FFF; }
      #menu nav a span:first-child {
        display: inline-block;
        background-color: #b400ff;
        height: 1.1em;
        width: 0%;
        transition: width 1s; }
      #menu nav a span:last-child {
        transition: color 1s;
        width: 100px;
        text-align: center;
        position: absolute;
        top: 0px;
        left: 0px; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1; }
  main * {
    color: #000; }
  main > section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 100px);
    min-height: 100vh; }
    main > section > p {
      text-indent: 2em;
      margin: 1em 0px; }
    main > section > h1 {
      color: #b400ff;
      text-align: center;
      line-height: 1.2em; }
      main > section > h1 * {
        color: #b400ff; }
  main a {
    color: #b400ff; }

.spread {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .spread li {
    margin: 1em; }

@media (max-width: 600px), (orientation: portrait) {
  #menu {
    margin-left: -100px; }

  nav {
    display: none !important; }

  main > section > h1 {
    height: 2.4em; } }
a, a:hover, a:active, a:focus {
  outline: transparent !important; }
