@import "variables";
@import "mixins";

$sizeNav:30px;
$sizeSide:40px;
$sizeBottom:$sizeSide;
* { margin:0px; padding:0px; font-family:sans-serif; }
h1 { font-variant:small-caps; }
body {
  background-color: nth($colors,4);
  > nav {
    top:0px;
    left:0px;
    z-index:10;
    display:flex;
    width:100vw;
    position:fixed;
    height:$sizeNav;
    justify-content: center;
    background-color: nth($colors,2);
    > a {
      font-size:$sizeNav / 1.5!important;
      display:flex!important;
      justify-content:center;
      text-decoration:none;
      color:nth($colors,1);
      align-items:center;
      position:relative;
      height:$sizeNav;
      width:$sizeNav;
      &::after {
        top:0;
        left:0;
        content:'';
        z-index:-1;
        width:$sizeNav;
        height:$sizeNav;
        position:absolute;
        box-sizing:border-box;
        border:0 solid nth($colors,3);
        transition:border-top-width 200ms linear;
      }
      &:hover::after { border-top-width:$sizeNav; }
    }
  }
  > main {
    z-index:1;
    flex-grow:1;
    overflow-x:hidden;
    color:nth($colors,1);
    > section {
      display:flex;
      padding:50px;
      min-height:100vh;
      align-items:center;
      padding-top:$sizeNav;
      flex-direction:column;
      justify-content:center;
      box-sizing: border-box;
      > h1 { font-size:20px; text-align:center; }
      > p { margin-top:20px; text-indent:50px; }
      > ul {
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        list-style:none;
        display:flex;
        > li { margin:20px 20px 0 20px; }
      }
      > a {
        text-decoration:none;
        color:nth($colors,1);
        padding-top:20px;
      }
    }
  }
}
