extends ../layouts/application.jade
block head
  link(rel='stylesheet',href='/css/index.css')
block main
  section 
    h1 Hello World
  section#space
    span
    span
    span
    h1 Ayy lmao
  section
    h1 dicks
